# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Flutter web build
web/flutter_service_worker.js
web/main.dart.js
web/main.dart.js.map

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
